/* Peach #FCEDDA
Burnt Orange #EE4E34 
#486281 - dark blue
*/

#project-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

body {
  font-size: larger;
  background-color: #fcedda;
  color: black;
  font-family: monospace;
  margin: 0.5rem;
  height: 100%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  flex-grow: 1;
  margin-top: 0.5rem;
  height: 10rem;
  text-align: end;
  justify-content: flex-end;
}

h2 {
  font-size: 3rem;
  margin: 0.5rem;
  color: #ee4e34;
}
h3 {
  color: #ee4e34;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: solid #486281;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 150px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}

.about-para {
  display: flex;
  border: solid #486281;
  margin-bottom: 2rem;
  border-radius: 6px;
  width: 70%;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  border: solid #486281;
  border-radius: 6px;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: fit-content;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.intro-box {
  display: flex;
  flex-direction: column;
  border: solid #486281;
  border-radius: 6px;
  padding: 1rem;
  margin: 1rem;
  height: fit-content;
  width: 70%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
/* github icon size */
.project-box a {
  font-size: 4rem;
}
.contact-box {
  display: flex;
  flex-direction: column;
  border: solid #486281;
  border-radius: 6px;
  margin: 1rem;
  height: 4rem;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex {
  display: flex;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}
#skills-box {
  border: solid #486281;
  border-radius: 6px;
  width: 70%;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

#skills-box ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ee4e34;
  width: auto;
}

#skills-box li {
  display: flex;
  border: solid #486281;
  border-radius: 6px;
  margin: 6px;
  background-color: white;
  width: 5rem;
  height: 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #ee4e34;
}

.nav a li {
  border: solid #486281;
  padding: 8px;
  border-radius: 6px;
  width: 8rem;
  background-color: #fcedda;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 2px;
}

#external-link {
  font-size: 3rem;
}

.nav a li:hover {
  color: #ee4e34;
}
a:hover {
  color: #ee4e34;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  width: 50%;
  text-align: center;
  padding: 2rem;
  border-radius: 6px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ee4e34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .nav {
    flex-wrap: wrap;
  }
  .nav a {
    margin: 5px;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  #project-grid {
    flex-direction: column;
    align-items: center;
    height: 30rem;
  }

  .project-box {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
